# Node modules
/node_modules/

# Build output
/dist/
build/
out/

# Logs
npm-debug.log*

# Env files
.env
.env.local
.env.*.local

# VS Code settings
.vscode/

# Optional local history for JetBrains IDEs
.idea/