$colorPrimary: hsl(240, 7%, 27%);
$colorPrimaryLight: hsl(240, 7%, 32%);
$colorPrimaryLighter: hsl(240, 7%, 50%);
$colorPrimaryDark: hsl(240 7% 17%);

$colorSecondary: hsl(211, 100%, 43%);
$colorSecondaryLight: hsl(211, 100%, 99%);

$colorDanger: hsl(0, 100%, 50%);
$colorDangerDark: hsl(0, 100%, 45%);

$colorWhite: #fff;
$colorBlack: #000;

$fontPrimary: "Instrument Sans", sans-serif;
