  .saved-theme {
    &__header {
      padding: 0 15px 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &__title {
        font-size: 28px;
        line-height: 1.1;
      }

      &__delete-btn {
        padding: 3px 8px;
        font-size: 14px;
      }
    }

    .code-block {
      min-width: 200px;
      padding: 15px 35px 20px 20px;
      margin-bottom: 15px;

      &__label {
        font-size: 10px;
        left: auto;
        right: 15px;
      }

      &__code {
        font-size: 14px;
      }
    }
  }